{% extends "admin/layout.html" %}
{% block head_link %}
    <link href="{{ static_url('bootstrap-table-css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('_libs/fine-uploader/fine-uploader.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static_url('admin/_common.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('admin/good-list.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>选择文件</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        重试
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">关闭</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">否</button>
                    <button type="button" class="qq-ok-button-selector">是</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">取消</button>
                    <button type="button" class="qq-ok-button-selector">确定</button>
                </div>
            </dialog>
        </div>
    </script>
{% endblock %}
{% block body_content %}
<div class="row">
    <div id="toolbar">
        <div class="form-inline" role="form">
            <input class="btn btn-default" type="button" value="添加" id="btn-add" />
        </div>
    </div>
    <div class="table-responsive">
        <table id="tb-goods" width="100%"></table>
    </div>
</div>
{% endblock %}
{% block body_extra %}
    <div id="uploader-wrapper">
        <div class="uploader-closer">
            <span class="btn-close noselect">X</span>
        </div>
        <div class="uploader-ui"></div>
    </div>
{% endblock %}
{% block body_src %}
    {{ super() }}
    <script src="{{ static_url('bootstrap-table-js') }}" type="text/javascript"></script>
    <script src="{{ static_url('bootstrap-table-i18n-chinese') }}" type="text/javascript"></script>
    <script src="{{ static_url('_libs/bootbox/bootbox.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('_libs/fine-uploader/jquery.fine-uploader.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('admin/_common.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body_js %}
    {{ super() }}
    <script type="text/javascript">
        GLOBAL.UPLOAD_URL = "{{ url_for('admin.file_upload') }}";
        GLOBAL.category_list = {{ category_list | tojson(ensure_ascii=False) | safe }};
        GLOBAL.default_image = "{{ url_for('static', filename='_img/default.jpg') }}";

        var DT_ajax = "{{ url_for('admin.good_list_ajax', _suffix='') }}";
        var IMAGE_BASE = "{{ url_for('good.good_image', image_path='') }}";
        var GOOD_UNITS_AJAX = "{{ url_for('admin.good_units_ajax', _suffix='') }}";
        var GOOD_SAVE_AJAX = "{{ url_for('admin.good_save_ajax', _suffix='') }}";
    </script>
    <script src="{{ static_url('admin/good-list.js') }}" type="text/javascript"></script>
{% endblock %}